body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100%;
}



.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-height: 20%;
  padding-bottom: 1em;
}

.App-link {
  color: #61dafb;
}

.container {
  background-color: black;
  color: #5f14aa;
  min-height: 100%;
  min-width: 100%;
}

.card {
  padding: 1em;
  background-color: black;
}